p.menu{text-align: left;color:red;background-color: white;}
p.maincontent{text-align: center;color:black;background-color: white;}
p.sidecontent{text-align: right;color:yellow;background-color: white;}